@import "../../scss/index";

.magazine {
  &__header-section {
    margin-bottom: space(3);
  }

  &__spacer {
    height: space(7);
  }

  &__content-section {
    margin: space(3) space(7);

    // ===[GRID LAYOUT PROPERTIES GOES HERE]===

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: space(2);

    // ===[GRID LAYOUT PROPERTIES GOES HERE]===
  }
}
