@import "../../scss/index";

.magazine {
  &__header-section {
    margin-bottom: space(3);
  }

  &__spacer {
    // ===[RESPONSIVE DESIGN PROPERTIES GOES HERE]===

    height: space(8) * 2;

    @media only screen and (min-width: 1200px) {
      height: space(7);
    }

    // ===[RESPONSIVE DESIGN PROPERTIES GOES HERE]===
  }

  &__content-section {
    margin: space(3) space(7);

    // ===[RESPONSIVE DESIGN PROPERTIES GOES HERE]===

    margin: space(3) space(4);

    @media only screen and (min-width: 1200px) {
      margin: space(3) space(7);
    }

    // ===[RESPONSIVE DESIGN PROPERTIES GOES HERE]===

    // ===[GRID LAYOUT PROPERTIES GOES HERE]===

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: space(2);

    // ===[GRID LAYOUT PROPERTIES GOES HERE]===
  }
}
