// NEUTRAL COLORS
$color-white: #fff;
$color-extra-light-gray: #f9fafb;
$color-light-gray: #edf0f3;
$color-medium-light-gray: #c5c8ca;
$color-medium-gray: #646c72;
$color-dark-gray: #3e464f;
$color-black: #000;

// ACCENT COLOS
$amethyst: #8963ba;
